<div class="panel panel-default">
  <div class="panel-heading">Create a user</div>
  <div class="panel-body">
    <form name="createUserForm" class="create-user-form" role="form" ng-submit="createUser(user)" novalidate>
        <div class="form-group" 
            ng-class="{ 'has-error' : createUserForm.firstName.$invalid && createUserForm.firstName.$dirty }">
            <label>First name</label>
            <input ng-model="user.firstName" type="text" name="firstName" 
                class="form-control" placeholder="First name" required autofocus>
            <p ng-show="createUserForm.firstName.$error.required && createUserForm.firstName.$dirty" 
                class="help-block">Please enter users first name.</p>
        </div>

        <div class="form-group" 
            ng-class="{ 'has-error' : createUserForm.lastName.$invalid && createUserForm.lastName.$dirty }">
            <label>Last name</label>
            <input ng-model="user.lastName" type="text" name="lastName" 
                class="form-control" placeholder="Last name" required autofocus>
            <p ng-show="createUserForm.lastName.$error.required && createUserForm.lastName.$dirty" 
                class="help-block">Please enter users last name.</p>
        </div>

        <div class="form-group" 
            ng-class="{ 'has-error' : createUserForm.email.$invalid && createUserForm.email.$dirty }">
            <label>Email</label>
            <input ng-model="user.email" type="email" name="email" 
                class="form-control" placeholder="Email" 
                ng-minlength="3" required>
            <p ng-show="createUserForm.email.$error.required && createUserForm.email.$dirty" 
                class="help-block">Please enter users email.</p>
            <p ng-show="createUserForm.email.$error.minlength" class="help-block">
                Email is too short.</p>
        </div>
            
        <div class="form-group" 
            ng-class="{ 'has-error' : createUserForm.password.$invalid && createUserForm.password.$dirty }">
            <label>Password</label>
            <input ng-model="user.password" type="password" name="password" class="form-control" placeholder="Password" ng-minlength="6" required>
            <p ng-show="createUserForm.password.$error.required  && createUserForm.password.$dirty" class="help-block">Prosim, vnesite geslo.</p>
            <p ng-show="createUserForm.password.$error.minlength" class="help-block">Password is too short.</p>
        </div>

        <div class="form-group">
            <label>Select roles:</label>
            <select class="form-control" 
                ng-model="user.group" ng-options="group.id as group.name for group in groups"></select>
        </div>

        
        <button class="btn btn-primary" ng-disabled="createUserForm.$invalid" type="submit">Create user</button>
    </form>













    <!--Here you will create a user. Here you will create a user. Here you will create a user.Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user.Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user.Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user.Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user.Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user.Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user.Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user.Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user.Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user.Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user.Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user.Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user.Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user.Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user.Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user.Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user.Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user.Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user.Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user.Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user.Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user.Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user.Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user.Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user.Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user.Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user.Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user.Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user.Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user.Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user.Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user.Here you will create a user. Here you will create a user. Here you will create a user. Here you will create a user. -->
  </div>
</div>